DATABASE_URL="postgresql://user:password@localhost:5432/selogs?schema=public"

JWT_SECRET="your-access-token-secret"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_SECRET="your-refresh-token-secret"
REFRESH_TOKEN_EXPIRES_IN="7d"

SUPER_ADMIN_SECRET="your-super-admin-secret-code"

PORT=5001

# Paystack
PAYSTACK_SECRET_KEY=your_paystack_secret_key_here
